main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.main-content {
  min-height: 23rem;
}

.todo-size {
  width: 40rem;
}

.width-100 {
  width: 100%;
}

.scoreboard-size {
  width: 60rem;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.brown {
  color: brown;
}

.green {
  color: lawngreen;
}

.max-vh-50 {
  max-height: 50vh;
}

.vh-50 {
  height: 50vh;
}

.input-group>.input-group-prepend {
  flex: 0 0 15%;
}
.input-group .input-group-text {
  width: 100%;
}
